.viewer {
    display: block;
    margin: 0 auto;
    width: 80vw;
    max-width: 1000px;
    height: 80vh;
    border: none;
    outline: none;
}

.download {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: fit-content;

    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
    background-color: #343a40;
    color: #f8f9fa;
    text-decoration: none;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.download:hover {
    background-color: #f8f9fa;
    color: #343a40;
}
.download:hover img {
    filter: invert(1);
}